.App-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Text-centered {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Top-margin {
  margin-top: 100px;
}

.Bottom-margin {
  margin-bottom: 100px;
}

.Bottom-medium-margin {
  margin-bottom: 25px;
}

.Bottom-small-margin {
  margin-bottom: 10px;
}

.User-name {
  color: #4183c4 !important;
}

.Full-width {
  width: 100%;
}

.Fixed-Width-label {
  width: 120px;
}
